html, body {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;

  }
  canvas {
    display: block;
    position: absolute;
    z-index: 5;
    top: 49vh;
    left: 51vw;
    transform: translate(-50%);
    /* background-color: #c9575763; */
  }
  
  .body{
    position: absolute;
    width: 1600px;
    left: 52vw;
    transform: translate(-50%);
}

.base{
  position: absolute;
  top: 75vh;
  left: 22.2vw;
  z-index: 8;
  width: 484px;
  height: 330px;
}


.rotate-base{
  position: absolute;
  z-index: 8;
  width: 484px;
  height: 330px;
  transform-origin: top left;
}

.rotate-base .img{
  position: absolute;
  top: -72px;
  left: -72px;
  width: 580px;
  height: 467px;

}

.move-base{
  position: absolute;
  top: 58.5vh;
  left: 54.9vw;
  z-index: 8;
}

.guitar{
  position: absolute;
  top: 41vh;
  left: 20.2vw;
}

.hand{
  position: absolute;
  width: 190px;
  background-color: aqua;
  transform: translate(-50%,-50%);
  left: 52vw;
  z-index: 999;
}
.hand img{
  width: 100%;
}


.img{
  background-image: url(./img/arm1.svg);
}

